## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

# Confirm the data was dropped.
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()

for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)
#  YOUR CODE GOES HERE

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# View Classification value counts >1
classification_counts_over1 = classification_counts[classification_counts > 1]
print(classification_counts_over1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=["AFFILIATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "APPLICATION_TYPE", "CLASSIFICATION"], dummy_na=False)
# Display the first few rows of the dataframe
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other
0,1,5000,1,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,1,5000,0,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,1,6692,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values


# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.



nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=43))

#  YOUR CODE GOES HERE

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 16)                               704

 dense_4 (Dense)                       (None, 16)                               272

 dense_5 (Dense)                       (None, 1)                                 17

 Total params: 993 (3.88 KB)

 Trainable params: 993 (3.88 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model

nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  3s 2ms/step - accuracy: 0.6669 - loss: 0.6243
Epoch 2/50
804/804  1s 2ms/step - accuracy: 0.7247 - loss: 0.5626
Epoch 3/50
804/804  3s 2ms/step - accuracy: 0.7293 - loss: 0.5540
Epoch 4/50
804/804  3s 2ms/step - accuracy: 0.7342 - loss: 0.5478
Epoch 5/50
804/804  3s 3ms/step - accuracy: 0.7306 - loss: 0.5478
Epoch 6/50
804/804  2s 2ms/step - accuracy: 0.7343 - loss: 0.5457
Epoch 7/50
804/804  3s 2ms/step - accuracy: 0.7277 - loss: 0.5527
Epoch 8/50
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5438
Epoch 9/50
804/804  3s 2ms/step - accuracy: 0.7355 - loss: 0.5445
Epoch 10/50
804/804  3s 3ms/step - accuracy: 0.7311 - loss: 0.5471
Epoch 11/50
804/804  2s 2ms/step - accuracy: 0.7307 - loss: 0.5490
Epoch 12/50
804/804  3s 2ms/step - accuracy: 0.7346 - loss: 0.5427
Epoch 13/50
804/804  2s 2ms/step - accuracy: 0.7307 - loss: 0.5472
Epoch 14/50
804/804  3s 2ms/step - accuracy: 0.7336 - loss: 0.5448
Epoch 15/50
804/804  3s 2ms/step - accuracy: 0.7350 - loss: 0.5420
Epoch 16/50
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5464
Epoch 17/50
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5444
Epoch 18/50
804/804  1s 2ms/step - accuracy: 0.7350 - loss: 0.5458
Epoch 19/50
804/804  1s 2ms/step - accuracy: 0.7339 - loss: 0.5457
Epoch 20/50
804/804  1s 2ms/step - accuracy: 0.7336 - loss: 0.5470
Epoch 21/50
804/804  3s 2ms/step - accuracy: 0.7370 - loss: 0.5384
Epoch 22/50
804/804  2s 2ms/step - accuracy: 0.7307 - loss: 0.5487
Epoch 23/50
804/804  3s 2ms/step - accuracy: 0.7336 - loss: 0.5413
Epoch 24/50
804/804  3s 2ms/step - accuracy: 0.7314 - loss: 0.5448
Epoch 25/50
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5422
Epoch 26/50
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5415
Epoch 27/50
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5367
Epoch 28/50
804/804  1s 2ms/step - accuracy: 0.7363 - loss: 0.5396
Epoch 29/50
804/804  1s 2ms/step - accuracy: 0.7300 - loss: 0.5465
Epoch 30/50
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5371
Epoch 31/50
804/804  3s 3ms/step - accuracy: 0.7368 - loss: 0.5396
Epoch 32/50
804/804  2s 2ms/step - accuracy: 0.7359 - loss: 0.5393
Epoch 33/50
804/804  3s 2ms/step - accuracy: 0.7346 - loss: 0.5425
Epoch 34/50
804/804  3s 2ms/step - accuracy: 0.7394 - loss: 0.5370
Epoch 35/50
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5454
Epoch 36/50
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5391
Epoch 37/50
804/804  2s 2ms/step - accuracy: 0.7353 - loss: 0.5446
Epoch 38/50
804/804  1s 2ms/step - accuracy: 0.7326 - loss: 0.5458
Epoch 39/50
804/804  3s 2ms/step - accuracy: 0.7351 - loss: 0.5436
Epoch 40/50
804/804  3s 2ms/step - accuracy: 0.7344 - loss: 0.5422
Epoch 41/50
804/804  3s 2ms/step - accuracy: 0.7429 - loss: 0.5347
Epoch 42/50
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5420
Epoch 43/50
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5444
Epoch 44/50
804/804  1s 2ms/step - accuracy: 0.7385 - loss: 0.5367
Epoch 45/50
804/804  3s 2ms/step - accuracy: 0.7341 - loss: 0.5423
Epoch 46/50
804/804  3s 2ms/step - accuracy: 0.7415 - loss: 0.5374
Epoch 47/50
804/804  3s 2ms/step - accuracy: 0.7384 - loss: 0.5374
Epoch 48/50
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5396
Epoch 49/50
804/804  2s 2ms/step - accuracy: 0.7348 - loss: 0.5413
Epoch 50/50
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5427

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7277 - loss: 0.5564
Loss: 0.5563524961471558, Accuracy: 0.7276967763900757

In [23]:
# Export our model to HDF5 file
# The HDF5 export is deprecated. The format is required for full points. The keras model should be used.
nn_model.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.